@use "/src/sass/index.scss" as *;
.miniCart {
	position: fixed;
	bottom: 1rem;
	right: 2rem;
	z-index: 1;
	border: 1px solid #808080;
	display: grid;
	place-content: center;
	gap: 1em;
	background-color: white;
	padding: $padding-large;
}
.header {
	display: flex;
	gap: 2rem;
	.closeBtn {
		padding: 0;
		background-color: transparent;
		&:hover {
			color: $clr-neutral-900;
		}
	}
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $fs-medium;
	font-weight: $fw-semibold;
}

.item {
	display: flex;
	align-items: center;
	gap: 1em;
	p:first-of-type {
		font-weight: $fw-semibold;
	}

	.imgWrapper {
		max-width: 75px;
	}
}

.link {
	color: $clr-neutral-900;
	text-align: center;
}

.cartBtn {
	color: $clr-neutral-900;
	background-color: $clr-neutral-100;
	border: 1px solid $clr-neutral-900;
	width: 100%;
	&:hover {
		background-color: #e3e3e3;
	}
}
