@use "/src/sass/index.scss" as *;

@keyframes linkHoverIn {
	from {
		gap: 0.5em;
	}

	to {
		gap: 1.5em;
	}
}
@keyframes linkHoverOut {
	to {
		gap: 0.5em;
	}

	from {
		gap: 1.5em;
	}
}

.collectionCard {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	border-radius: 0.75rem;
	img {
		object-fit: fill;
		flex-grow: 1;
		border-radius: 0.75rem;
	}
	.linkWrapper {
		animation: linkHoverOut 400ms ease-in-out;
		color: $clr-neutral-900;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		gap: 0.5em;
		margin: 1rem 0.5em;
		font-weight: $fw-bold;
	}
	.linkWrapper:hover {
		animation: linkHoverIn 400ms ease-in-out;
		gap: 1.5rem;
	}
}
