@use "/src/sass/index.scss" as *;

.cartPage {
	display: grid;
	padding: $padding-large;
	align-content: start;
}

.cart {
	display: grid;
	gap: 1rem;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.title {
			font-size: 3rem;
			margin-right: 2rem;
		}

		.link {
			color: inherit;
			text-underline-offset: 0.25em;
			&:hover {
				text-decoration-thickness: 2.5px;
			}
		}
	}
	.cartItems {
		display: table;
		border-collapse: collapse;
		thead {
			th {
				font: inherit;
				text-transform: uppercase;
				font-size: 0.875rem;
				text-align: start;
				&:nth-of-type(3) {
					text-align: end;
				}
			}
			tr {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				th:first-of-type {
					grid-column: 1/3;
				}
				th:last-of-type {
					grid-column: 4/5;
				}
			}
		}
	}

	.footer {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 1rem;

		.total {
			font-size: $fs-large;
		}
		.bold {
			font-weight: $fw-bold;
		}
		.shipping {
			font-size: 0.875rem;
			font-family: $fw-light;
		}
	}
}
.checkoutBtn {
	padding: 1rem 2rem;
	font-size: $fs-medium;
	font-weight: $fw-bold;
}

@media screen and (max-width: 768px) {
	th:nth-of-type(2) {
		display: none;
	}
}
