@use "/src/sass/index.scss" as *;
.header {
	display: grid;
	align-items: center;
	grid-template: 1fr 1fr / 1fr 1fr;
	padding: $padding-medium;
	box-shadow: 0px 1px 5px 1px #e2e2e2;
	gap: 2rem;
	@media screen and (min-width: 768px) {
		grid-template: 1fr / repeat(3, 1fr);
	}
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover:not(.title) a:hover:not(.cartLink),
	.active {
		text-decoration: underline;
	}
	.cartLink:hover,
	.cartLinkActive {
		svg {
			fill: hsl(0, 0%, 45%);
		}
	}
	@media screen and (min-width: 768px) {
		justify-content: end;
	}
}

.title {
	font-size: $fs-large;
	font-weight: $fw-bold;
	text-decoration: none;
	color: inherit;
}
.cartLink,
.cartLinkActive {
	position: relative;
	display: inline-flex;
	align-items: center;
	color: hsl(0, 0%, 45%);
	gap: 0.25em;
	flex-shrink: 0;
}

.counter {
	display: grid;
	place-content: center;
	background-color: $clr-neutral-900;
	color: $clr-neutral-100;
	font-size: $fs-small;
	width: 1.5rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
}
