@use "/src/sass/index.scss" as *;
.cartItem {
	display: grid;
	grid-template: repeat(2, auto) / repeat(4, 1fr);
	gap: 1rem;
	align-items: center;
	padding: $padding-medium 0;
	border-top: 1px solid hsl(0, 0%, 80%);

	td {
		display: flex;
	}
	.itemLink {
		color: inherit;
		text-decoration: none;
		font-weight: $fw-semibold;
		&:hover {
			text-decoration: underline;
			text-underline-offset: 0.25em;
		}
	}

	.details {
		flex-direction: column;
	}
	.imgWrapper {
		width: 110px;
	}
	.quantityWrapper {
		display: flex;
		gap: 1.5rem;
	}
	.total {
		justify-content: end;
		text-align: end;
		font-weight: $fw-semibold;
		font-size: $fs-medium;
	}
	.removeItemBtn {
		padding: 0;
		background-color: transparent;
		color: $clr-neutral-900;
		&:hover {
			color: hsl(0, 100%, 64%);
		}
	}
}
@media screen and (max-width: 768px) {
	.cartItem {
		grid-template: repeat(2, auto) / repeat(3, 1fr);
	}
	.quantity {
		grid-column: 1/3;
	}
	.total {
		grid-row: 1/2;
		grid-column: 4/5;
	}
}
